---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);
---

<!doctype html>

<script>
	var cursor = document.getElementById("cursor");
	document.body.addEventListener("mousemove", function (e) {
		//storing cursor position as variables
		var curX = e.clientX;
		var curY = e.clientY;
		if (cursor) {
			cursor.style.opacity = "1";
			if (cursor.classList.contains("hover")) {
				cursor.style.transform =
					"translate(" + (curX - 30) + "px," + (curY - 30) + "px)";
			} else {
				cursor.style.transform =
					"translate(" + (curX - 27) + "px," + (curY - 27) + "px)";
			}
		}
	});

	window.onblur = function () {
		if (cursor) {
			cursor.style.display = "none";
		}
	};
	window.onfocus = function () {
		if (cursor) {
			cursor.style.display = "block";
		}
	};

	const links = document.querySelectorAll("a, .clickable");

	// Custom cursor change style on hover links
	for (let x of links) {
		x.addEventListener("mouseenter", () => {
			if (cursor) {
				cursor.classList.add("hover");
			}
		});

		x.addEventListener("mouseleave", () => {
			if (cursor) {
				cursor.classList.remove("hover");
			}
		});
	}
</script>

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-neutral-900">
		<div class="invertedcursor" id="cursor"></div>
		<Header />
		<main class="flex justify-center mt-24">
			<div class="flex flex-col">
				<h1 class="text-9xl font-[Hubot] italic font-extrabold text-neutral-200 my-5">Blog</h1>
				<section class="max-w-[960px]">
					<div class="flex flex-col gap-5">
						{
							posts.map((post) => (
								<div class="border border-neutral-700 text-neutral-200 w-[550px] font-[Hubot] p-4 hover:bg-white/10 hover:border-white/20 duration-500 rounded-lg">
									<a href={`/blog/${post.slug}/`}>
										<p class="date text-md pb-2 text-neutral-400 font-[Mona] font-extrathin">
											<FormattedDate date={post.data.pubDate} />
										</p>
										<h4 class="text-xl font-medium">{post.data.title}</h4>
										<h4 class="text-md text-neutral-400">{post.data.description}</h4>
									</a>
								</div>
							))
						}
					</div>
				</section>
			</div>
		</main>
		<Footer />
	</body>
</html>
