---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import MeteorShower from "@/components/MeteorShower.astro";
import StackCard from "@/components/StackCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import {
	Carousel,
	CarouselContent,
	CarouselItem,
	CarouselNext,
	CarouselPrevious,
} from "@/components/ui/carousel";
import { Card, CardContent } from "@/components/ui/card";
import InteractiveCarousel from "@components/Carousel";

const stack = [
	{
		text: "Open-Source Hardware",
		icon: "oshw_logo",
		href: "https://www.oshwa.org",
	},
	{
		text: "Open-Source Software",
		icon: "osi_logo",
		href: "https://www.oshwa.org",
	},
	{
		text: "KiCAD EDA",
		icon: "kicad_logo",
		href: "https://kicad.org",
	},
	{
		text: "GNU/Linux",
		icon: "linux_logo",
		href: "https://kernel.org",
	},
	{
		text: "ZMK Project",
		icon: "zmk_logo",
		href: "https://zmk.dev",
	},
	{
		text: "PTC Onshape",
		icon: "onshape_logo",
		href: "https://onshape.com",
	},
	{
		text: "Visual Studio Code",
		icon: "vscode_logo",
		href: "https://code.visualstudio.com",
	},
];

const electricalEngineeringProjects = [
	{
		title: "anyon_e laptop",
		text: "A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		highlights:
			"RK3588-based, 4K AMOLED 13.3 display, GHz-level high-speed signaling...",
		starCount: "6",
		icon: "anyon_e_logo",
		href: "https://byran.ee",
	},
	{
		title: "MUREX Robotics",
		text: "Electrical and Robotics systems with +15 world records",
		icon: "murex_logo",
		starCount: "149",
		highlights:
			"Underwater robotics, high-reliability systems, BLDCs, control theory, vision...",
		href: "https://murexrobotics.com",
	},
	{
		title: "Keychron Engineering",
		text: "Developing new keyboard products for Keychron. Coming soon!",
		icon: "keychron_logo",
		highlights:
			"Wireless bluetooth keyboards, 2.4GHz RF, high production yield",
		href: "https://keychron.com",
	},
];

const electricalEngineeringImages = [
	"/images/main/anyon_e-render-1.jpg",
	"/images/main/anyon_e-render-2.jpg",
	"/images/main/anyon_e-render-3.jpg",
	"/images/main/carrier_board_v3_release.jpg",
	"/images/main/ethernet_switch_v2_release.jpg",
	"/images/main/anyesc_v1_release.jpg",
	"/images/main/december_23_poster.jpg",
];

const embeddedSoftwareProjects = [
	{
		title: "ZMK",
		text: "Working on User Experience (ZMK Studio) for the open-source keyboard firmware project",
		starCount: "2.8k",
		highlights: "C/C++, Zephyr RTOS, embedded system design, etc.",
		icon: "zmk_logo",
		href: "https://zmk.dev",
	},
	{
		title: "anyon_e Linux",
		text: "Writing a custom Linux hardware delaration (DeviceTree) to drive the system, including an 4K AMOLED eDP driver",
		icon: "anyon_e_logo",
		highlights:
			"Linux DTS, complex embedded systems, hardware bringup, operating system development...",
		href: "https://github.com/Hello9999901/linux-rockchip",
	},
];

const embeddedSoftwareImages = [
	"/images/main/zmk_studio_ui.jpg",
	"/images/main/anyon_e_display.jpg",
];

const frontEndProjects = [
	{
		title: "byran.tech",
		text: "Kind of circular, but I developed this website with the Astro framework and modern web technologies.",
		highlights: "Astro, Tailwind CSS, React injection...",
		icon: "logo",
		href: "https://github.com/Hello9999901/byran.tech",
	},
	{
		title: "MUREX Robotics Website",
		text: "Developed the MUREX Robotics website and documentation site (Astro and Nextra respectively). Receives millions of views with a Vercel + Cloudflare pipeline.",
		icon: "murex_logo",
		highlights:
			"High performance static website, straightforward UI/UX, SEO and high visit count",
		href: "https://murexrobotics.com",
	},
	{
		title: "Exonian Crossword",
		text: "Simple crossword written in React and Tailwind CSS for the school community.",
		icon: "exonian_logo",
		highlights:
			"Full stack development, user experience optimization, dark/light mode",
		href: "https://crossword.theexonian.net",
	},
];

const frontEndImages = [
	"/images/main/murex_website.jpg",
	"/images/main/exonian_crossword.jpg",
];

const graphicsProjects = [
	{
		title: "PCB Visualizations",
		text: "Using a pcb2blender and Blender rendering workflow, I aim to create realistic represenations of the electronics I design.",
		highlights:
			"Blender 3D visualization, rendering, concepts, lighting, photorealism",
		icon: "kicad_logo",
	},
	{
		title: "Past Art",
		text: "GNU/Linux",
		icon: "blender_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
	},
];

const graphicsImages = [
	"/images/main/3d_rendering_carrier_v12.jpg",
	"/images/main/hondansx_shanghai.jpg",
	"/images/main/Radio.jpg",
	"/images/main/isometric_room.jpg",
	"/images/main/Lambo.jpg",
	"/images/main/SilverCar.jpg",
];
---

<!doctype html>
<script>
	import LocomotiveScroll from "locomotive-scroll";

	const locomotiveScroll = new LocomotiveScroll();
	const buttons = document.querySelectorAll("span.clickable");

	// Handle clicks on each button.
	buttons.forEach((button) => {
		button.addEventListener("click", () => {
			const targetElement = document.getElementById(
				button.id + "_target"
			);
			if (targetElement) {
				locomotiveScroll.scrollTo(targetElement);
			}
		});
	});

	var cursor = document.getElementById("cursor");
	document.body.addEventListener("mousemove", function (e) {
		//storing cursor position as variables
		var curX = e.clientX;
		var curY = e.clientY;
		if (cursor) {
			cursor.style.opacity = "1";
			if (cursor.classList.contains("hover")) {
				cursor.style.transform =
					"translate(" + (curX - 30) + "px," + (curY - 30) + "px)";
			} else {
				cursor.style.transform =
					"translate(" + (curX - 27) + "px," + (curY - 27) + "px)";
			}
		}
	});

	window.onblur = function () {
		if (cursor) {
			cursor.style.display = "none";
		}
	};
	window.onfocus = function () {
		if (cursor) {
			cursor.style.display = "block";
		}
	};

	const links = document.querySelectorAll("a, .clickable");

	// Custom cursor change style on hover links
	for (let x of links) {
		x.addEventListener("mouseenter", () => {
			if (cursor) {
				cursor.classList.add("hover");
			}
		});

		x.addEventListener("mouseleave", () => {
			if (cursor) {
				cursor.classList.remove("hover");
			}
		});
	}
</script>

<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="bg-neutral-900">
		<div class="-z-10 absolute">
			<!-- Dark Theme: Twinkling Stars / Metors -->
			<div id="galaxy" class="fixed inset-0">
				<div class="invert dark:invert-0">
					<MeteorShower />
				</div>
			</div>
			<div class="absolute inset-0 block dark:invert">
				<div id="particles1" class="fixed inset-0"></div>
				<div id="particles2" class="fixed inset-0"></div>
				<div id="particles3" class="fixed inset-0"></div>
			</div>
			<script is:inline src="/js/bg.js"></script>
		</div>
		<Header />
		<div class="invertedcursor" id="cursor"></div>
		<main class="flex items-center min-h-screen">
			<div class="pl-12">
				<h1
					class="animate text-slate-100 font-[Hubot] font-black xl:text-9xl text-8xl italic"
				>
					Hello, I'm Byran _
				</h1>
				<div
					class="animate md:max-w-max max-w-[400px] flex md:flex-row flex-col gap-2 md:gap-8 py-10 md:py-3 text-slate-100 font-[Mona] text-2xl font-normal subpixel-antialiased italic pl-2"
				>
					<span
						id="electrical_engineering"
						class="group transition duration-300 ease-in-out clickable"
					>
						Electrical Engineering
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
					<span
						id="embedded_software"
						class="group transition duration-300 ease-in-out clickable"
					>
						Embedded Software
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
					<span
						id="front-end_dev"
						class="group transition duration-300 ease-in-out clickable"
					>
						Front-End Dev
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
					<span
						id="3d_graphics"
						class="group transition duration-300 ease-in-out clickable"
					>
						3D Graphics
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
				</div>
				<div class="pl-3 mt-3 animate">
					<section>
						<p class="font-semibold font-[Hubot] text-white">
							Engineering with
						</p>
						<div class="flex flex-wrap items-center gap-2 mt-2">
							{
								stack.map((item) => (
									<StackCard
										text={item.text}
										icon={item.icon}
										href={item.href}
									/>
								))
							}
						</div>
					</section>
				</div>
			</div>
		</main>
		<section
			class="min-h-screen w-screen flex flex-col"
			id="electrical_engineering_target"
		>
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-7xl md:text-9xl italic"
				>
					Electrical Engineering
				</h1>
			</div>
			<div class="flex flex-col items-center md:items-start md:flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							electricalEngineeringProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									starCount={item.starCount}
									highlights={item.highlights}
									icon={item.icon}
									href={item.href}
								/>
							))
						}
					</div>
				</section>
				<div class="md:px-5 p-5">
					<InteractiveCarousel
						imagePaths={electricalEngineeringImages}
						client:load
					/>
				</div>
			</div>
		</section>
		<section
			class="min-h-screen w-screen flex flex-col"
			id="embedded_software_target"
		>
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-7xl md:text-9xl italic"
				>
					Embedded Software
				</h1>
			</div>
			<div class="flex flex-col items-center md:items-start md:flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							embeddedSoftwareProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									starCount={item.starCount}
									highlights={item.highlights}
									icon={item.icon}
									href={item.href}
								/>
							))
						}
					</div>
				</section>
				<div class="md:px-5 p-5">
					<InteractiveCarousel
						imagePaths={embeddedSoftwareImages}
						client:load
					/>
				</div>
			</div>
		</section>
		<section
			class="min-h-screen w-screen flex flex-col"
			id="front-end_dev_target"
		>
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-7xl md:text-9xl italic"
				>
					Front-End Development
				</h1>
			</div>
			<div class="flex flex-col items-center md:items-start md:flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							frontEndProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									highlights={item.highlights}
									icon={item.icon}
									href={item.href}
								/>
							))
						}
					</div>
				</section>
				<div class="md:px-5 p-5">
					<InteractiveCarousel
						imagePaths={frontEndImages}
						client:load
					/>
				</div>
			</div>
		</section>
		<section
			class="min-h-screen w-screen flex flex-col"
			id="3d_graphics_target"
		>
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-7xl md:text-9xl italic"
				>
					3D Graphics
				</h1>
			</div>
			<div class="flex flex-col items-center md:items-start md:flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							graphicsProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									highlights={item.highlights}
									icon={item.icon}
								/>
							))
						}
					</div>
				</section>
				<div class="md:px-5 p-5">
					<InteractiveCarousel
						imagePaths={graphicsImages}
						client:load
					/>
				</div>
			</div>
		</section>
		<Footer />
	</body>
</html>
