---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import MeteorShower from "@/components/MeteorShower.astro";
import StackCard from "@/components/StackCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import {
	Carousel,
	CarouselContent,
	CarouselItem,
	CarouselNext,
	CarouselPrevious,
} from "@/components/ui/carousel";
import { Card, CardContent } from "@/components/ui/card";
import InteractiveCarousel from "@components/Carousel";

const stack = [
	{
		text: "Open-Source Hardware",
		icon: "oshw_logo",
		href: "https://www.oshwa.org",
	},
	{
		text: "Open-Source Software",
		icon: "osi_logo",
		href: "https://www.oshwa.org",
	},
	{
		text: "KiCAD EDA",
		icon: "kicad_logo",
		href: "https://kicad.org",
	},
	{
		text: "GNU/Linux",
		icon: "linux_logo",
		href: "https://kernel.org",
	},
	{
		text: "ZMK Project",
		icon: "zmk_logo",
		href: "https://zmk.dev",
	},
	{
		text: "PTC Onshape",
		icon: "onshape_logo",
		href: "https://onshape.com",
	},
	{
		text: "Visual Studio Code",
		icon: "vscode_logo",
		href: "https://code.visualstudio.com",
	},
];

const electricalEngineeringProjects = [
	{
		title: "anyon_e laptop",
		text: "A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		highlights:
			"RK3588-based, 4K AMOLED 13.3 display, GHz-level high-speed signaling...",
		starCount: "5",
		icon: "kicad_logo",
		href: "https://byran.ee",
	},
	{
		title: "Keychron Enginering",
		text: "Developing new keyboard products for Keychron. Coming soon!",
		icon: "linux_logo",
		highlights:
			"",
		href: "https://keychron.com",
	},
	{
		title: "anyon_e laptop",
		text: "ZMK Project",
		icon: "zmk_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://zmk.dev",
	},
	{
		title: "anyon_e laptop",
		text: "PTC Onshape",
		icon: "onshape_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://onshape.com",
	},
	{
		title: "anyon_e laptop",
		text: "Visual Studio Code",
		icon: "vscode_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://code.visualstudio.com",
	},
];

const electricalEngineeringImages = [
	"/blog-placeholder-1.jpg",
	"/blog-placeholder-1.jpg",
];

const embeddedSoftwareProjects = [
	{
		title: "anyon_e laptop",
		text: "A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		starCount: "5",
		icon: "kicad_logo",
		href: "https://kicad.org",
	},
	{
		title: "anyon_e laptop",
		text: "GNU/Linux",
		icon: "linux_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://kernel.org",
	},
	{
		title: "anyon_e laptop",
		text: "ZMK Project",
		icon: "zmk_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://zmk.dev",
	},
	{
		title: "anyon_e laptop",
		text: "PTC Onshape",
		icon: "onshape_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://onshape.com",
	},
	{
		title: "anyon_e laptop",
		text: "Visual Studio Code",
		icon: "vscode_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://code.visualstudio.com",
	},
];

const embeddedSoftwareImages = [
	"/blog-placeholder-1.jpg",
	"/blog-placeholder-1.jpg",
];

const frontEndProjects = [
	{
		title: "anyon_e laptop",
		text: "A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		starCount: "5",
		icon: "kicad_logo",
		href: "https://kicad.org",
	},
	{
		title: "anyon_e laptop",
		text: "GNU/Linux",
		icon: "linux_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://kernel.org",
	},
	{
		title: "anyon_e laptop",
		text: "ZMK Project",
		icon: "zmk_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://zmk.dev",
	},
	{
		title: "anyon_e laptop",
		text: "PTC Onshape",
		icon: "onshape_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://onshape.com",
	},
	{
		title: "anyon_e laptop",
		text: "Visual Studio Code",
		icon: "vscode_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://code.visualstudio.com",
	},
];

const frontEndImages = [
	"/blog-placeholder-1.jpg",
	"/blog-placeholder-1.jpg",
];

const graphicsProjects = [
	{
		title: "anyon_e laptop",
		text: "A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		starCount: "5",
		icon: "kicad_logo",
		href: "https://kicad.org",
	},
	{
		title: "anyon_e laptop",
		text: "GNU/Linux",
		icon: "linux_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://kernel.org",
	},
	{
		title: "anyon_e laptop",
		text: "ZMK Project",
		icon: "zmk_logo",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://zmk.dev",
	},
	{
		title: "anyon_e laptop",
		text: "PTC Onshape",
		icon: "onshape_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://onshape.com",
	},
	{
		title: "anyon_e laptop",
		text: "Visual Studio Code",
		icon: "vscode_logo",
		starCount: "5",
		highlights:
			"A highly integrated, high end, open source laptop. Mission: to disprove the idea that technology is either repairable and open or integrated and closed.",
		href: "https://code.visualstudio.com",
	},
];

const graphicsImages = [
	"/blog-placeholder-1.jpg",
	"/blog-placeholder-1.jpg",
];
---

<!doctype html>
<script>
	import LocomotiveScroll from "locomotive-scroll";

	const locomotiveScroll = new LocomotiveScroll();
	const buttons = document.querySelectorAll("span.clickable");

	// Handle clicks on each button.
	buttons.forEach((button) => {
		button.addEventListener("click", () => {
			const targetElement = document.getElementById(button.id + "_target");
			if (targetElement) {
				locomotiveScroll.scrollTo(targetElement);
			}
		});
	});

	var cursor = document.getElementById("cursor");
	document.body.addEventListener("mousemove", function (e) {
		//storing cursor position as variables
		var curX = e.clientX;
		var curY = e.clientY;
		if (cursor) {
			cursor.style.opacity = "1";
			if (cursor.classList.contains("hover")) {
				cursor.style.transform =
					"translate(" + (curX - 30) + "px," + (curY - 30) + "px)";
			} else {
				cursor.style.transform =
					"translate(" + (curX - 27) + "px," + (curY - 27) + "px)";
			}
		}
	});

	window.onblur = function () {
		if (cursor) {
			cursor.style.display = "none";
		}
	};
	window.onfocus = function () {
		if (cursor) {
			cursor.style.display = "block";
		}
	};

	const links = document.querySelectorAll("a, .clickable");

	// Custom cursor change style on hover links
	for (let x of links) {
		x.addEventListener("mouseenter", () => {
			if (cursor) {
				cursor.classList.add("hover");
			}
		});

		x.addEventListener("mouseleave", () => {
			if (cursor) {
				cursor.classList.remove("hover");
			}
		});
	}
</script>

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-neutral-900">
		<div class="-z-10 absolute">
			<!-- Dark Theme: Twinkling Stars / Metors -->
			<div id="galaxy" class="fixed inset-0">
				<div class="invert dark:invert-0">
					<MeteorShower />
				</div>
			</div>
			<div class="absolute inset-0 block dark:invert">
				<div id="particles1" class="fixed inset-0"></div>
				<div id="particles2" class="fixed inset-0"></div>
				<div id="particles3" class="fixed inset-0"></div>
			</div>
			<script is:inline src="/js/bg.js"></script>
		</div>
		<Header />
		<div class="invertedcursor" id="cursor"></div>
		<main class="flex items-center min-h-screen">
			<div class="pl-12">
				<h1
					class="animate text-slate-100 font-[Hubot] font-black text-9xl italic"
				>
					Hello, I'm Byran _
				</h1>
				<div
					class="animate flex gap-8 py-3 text-slate-100 font-[Mona] text-3xl font-normal subpixel-antialiased italic pl-2"
				>
					<span
						id="electrical_engineering"
						class="group transition duration-300 ease-in-out clickable"
					>
						Electrical Engineering
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
					<span
						id="embedded_software"
						class="group transition duration-300 ease-in-out clickable"
					>
						Embedded Software
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
					<span
						id="front-end_dev"
						class="group transition duration-300 ease-in-out clickable"
					>
						Front-End Dev
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
					<span
						id="3d_graphics"
						class="group transition duration-300 ease-in-out clickable"
					>
						3D Graphics
						<span
							class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-[1px] bg-gradient-to-r from-slate-100 to-transparent"
						></span>
					</span>
				</div>
				<div class="pl-3 mt-3 animate">
					<section>
						<p class="font-semibold font-[Hubot] text-white">
							Engineering with
						</p>
						<div class="flex flex-wrap items-center gap-2 mt-2">
							{
								stack.map((item) => (
									<StackCard
										text={item.text}
										icon={item.icon}
										href={item.href}
									/>
								))
							}
						</div>
					</section>
				</div>
			</div>
		</main>
		<section
			class="min-h-screen w-screen flex flex-col"
			id="electrical_engineering_target"
		>
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-9xl italic"
				>
					Electrical Engineering
				</h1>
			</div>
			<div class="flex flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							electricalEngineeringProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									starCount={item.starCount}
									highlights={item.highlights}
									icon={item.icon}
									href={item.href}
								/>
							))
						}
					</div>
				</section>
				<div class="px-5">
					<InteractiveCarousel imagePaths={electricalEngineeringImages} client:load />
				</div>
			</div>
		</section>
		<section class="min-h-screen w-screen flex flex-col" id="embedded_software_target">
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-9xl italic"
				>
					Embedded Software
				</h1>
			</div>
			<div class="flex flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							embeddedSoftwareProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									starCount={item.starCount}
									highlights={item.highlights}
									icon={item.icon}
									href={item.href}
								/>
							))
						}
					</div>
				</section>
				<div class="px-5">
					<InteractiveCarousel imagePaths={embeddedSoftwareImages} client:load />
				</div>
			</div>
		</section>
		<section class="min-h-screen w-screen flex flex-col" id="front-end_dev_target">
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-9xl italic"
				>
					Front-End Development
				</h1>
			</div>
			<div class="flex flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							frontEndProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									starCount={item.starCount}
									highlights={item.highlights}
									icon={item.icon}
									href={item.href}
								/>
							))
						}
					</div>
				</section>
				<div class="px-5">
					<InteractiveCarousel imagePaths={frontEndImages} client:load />
				</div>
			</div>
		</section>
		<section class="min-h-screen w-screen flex flex-col" id="3d_graphics_target">
			<div>
				<h1
					class="text-slate-100 font-[Hubot] font-black text-9xl italic"
				>
					3D Graphics
				</h1>
			</div>
			<div class="flex flex-row p-12 self-center">
				<section>
					<div class="flex flex-wrap flex-col items-left gap-2 pt-1">
						{
							graphicsProjects.map((item) => (
								<ProjectCard
									title={item.title}
									text={item.text}
									starCount={item.starCount}
									highlights={item.highlights}
									icon={item.icon}
									href={item.href}
								/>
							))
						}
					</div>
				</section>
				<div class="px-5">
					<InteractiveCarousel imagePaths={graphicsImages} client:load />
				</div>
			</div>
		</section>
		<Footer />
	</body>
</html>
